:root {
  --margin_left: 64px;
  --margin_top: 30px;
  --margin_bottom: 30px;

  --color_blue: #2f80ed;
  --color_text: #000;
  --color_background_light: #f2f2f2;
  --color_background_dark: #1f1f1f;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
}

/* header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: -3;
  background-color: var(--color_background_light);
}

.header__logo {
  background-image: url('../images/logo_place_header.svg');
  background-repeat: no-repeat;
  width: 183px;
  height: 32px;
}

.header__logo_place_top {
  position: absolute;
  top: var(--margin_top);
  left: var(--margin_left);
}

.header__title {
  font-size: 102px;
  font-weight: 600;
  line-height: 1;
  max-width: 730px;
}

.header__title_margin_left {
  margin-left: var(--margin_left);
}

.header__subtitle {
  font-size: 18px;
  line-height: 1.4;
  max-width: 388px;
}

.header__subtitle_place_bot {
  position: absolute;
  bottom: var(--margin_bottom);
  left: var(--margin_left);
}

.header__link {
  color: var(--color_blue);
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: var(--color_blue);
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
}

/* content */

.content {
}

/* description */

.description {
}

/* digits */

.digits {
}

/* feynman */

.feynman {
}

/* kaufman */

.kaufman {
}

/* footer */

.footer {
}
