.khan__buy-link {
  font-size: 30px;
  color: var(--color_blue);
  line-height: 42px;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.khan__buy-link:hover {
  opacity: 0.7;
}
